body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* app styles */
.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  background-color: #264653;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: -4px 2px3px rgba(221, 221, 221, 0.349);
}
.App h1 {
  color: #e9c46a;
}
.items {
  padding: 20px;
  margin-bottom: 20px;
  margin: 15px;
  border-radius: 5px;
  /* color:#e76f51; */
  color: #d9e5d6;
}
.items ul {
  padding: 0;
  list-style-type: none;
}

.item--li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #023047;
}
.item--li:hover {
  color: #e76f51;
  text-decoration: line-through;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: inset -1px -1px 15px 4px #4d4d4d;
  /* background-color: #2a9d8f; */
}
.addgames__form {
  display: flex;
  flex-direction: column;
}
.addgames__form input {
  background-color: hsl(200, 95%, 14%);
  color: #fff;
  padding: 10px;
  margin: 10px auto;
}
.addgames__form input::placeholder {
  color: rgb(138, 138, 138);
}
.addgames__form button {
  padding: 10px;
  background-color: #2a9d8f;
  color: #fff;
}

.addgames__form button:hover {
  padding: 10px;
  background-color: hsl(200, 95%, 14%);
  color: #fff;
}
.addgames__form button:active {
  color: #e9c46a;
}
